.images {
    width: 90%;
    text-align: center;
    margin: 30px auto;
    ion-img {
      margin: 15px auto;
      width: 100%;
      max-width: 300px;
    }
}

#files {
    display: none;
}

.title {
    pad: 10px;
    text-align: center;
}