<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Inspection</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list class="menu">
    <ion-item routerLink="inspection1">
      <ion-icon slot="start" class="component-icon component-icon-secondary" role="img" name="checkmark-outline"></ion-icon>
      <ion-label class="ion-text-wrap">Ceklist Inspeksi Terencana Plant Workshop</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-secondary" role="img" name="checkmark-outline"></ion-icon>
      <ion-label class="ion-text-wrap">Ceklist Inspeksi Terencana Daerah Tangki Pengisian dan Tanker BBM Trailer</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-secondary" role="img" name="checkmark-outline"></ion-icon>
      <ion-label class="ion-text-wrap">Ceklist Inspeksi Terencana Jalan dan Jalur</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-secondary" role="img" name="checkmark-outline"></ion-icon>
      <ion-label class="ion-text-wrap">Ceklist Inspeksi Terencana Produksi di PIT</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-secondary" role="img" name="checkmark-outline"></ion-icon>
      <ion-label class="ion-text-wrap">Ceklist Inspeksi Terencana daerah Mess, Kamar ganti, toilet dan dapur</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-secondary" role="img" name="checkmark-outline"></ion-icon>
      <ion-label class="ion-text-wrap">Ceklist Inspeksi Terencana Conveyor Belt dan Crusher</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-secondary" role="img" name="checkmark-outline"></ion-icon>
      <ion-label class="ion-text-wrap">Ceklist Inspeksi Terencana Kantor,Gudang Penyimpanan dan Halaman</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-secondary" role="img" name="checkmark-outline"></ion-icon>
      <ion-label class="ion-text-wrap">Ceklist Inspeksi Fasilitas Hidrokarbon</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-secondary" role="img" name="checkmark-outline"></ion-icon>
      <ion-label class="ion-text-wrap">Ceklist Inspeksi Trap Oli,Bahan Bakar & Sedimen</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-secondary" role="img" name="checkmark-outline"></ion-icon>
      <ion-label class="ion-text-wrap">Ceklist Inspeksi Terencana Tower Triangle</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>