<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>KPI</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="container">
    <ion-button shape="round" size="large">
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="book"></ion-icon> KPI
    </ion-button>
  </div> -->
  <ion-list class="menu">
    <ion-item routerLink="green-card">
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>Green Card</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item routerLink="inspection-list">
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>Inspection</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>PTO</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>Personal Contact</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>SS</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>Bulletin</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>Bank Soal</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>Behav</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>Teaching Hours</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>EPP</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" class="component-icon component-icon-primary" role="img" name="document-text-outline"></ion-icon>
      <ion-label>EEP</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>