<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Project</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-button shape="round" size="large">
      <ion-icon slot="start" name="documents"></ion-icon> Project
    </ion-button>
  </div>
  <ion-list class="menu">
    <ion-item>
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>OCC</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>OPROM+</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>OMAN</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>OPTEL</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>Followup Issue</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-icon slot="start" name="document-text-outline"></ion-icon>
      <ion-label>QCC</ion-label>
      <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>