<ion-content [fullscreen]="true">
  <div class="container">
    <div class="logo">
      <ion-img src="assets/icon/favicon.png"></ion-img>
    </div>
    <div class="menu">
      <ion-button shape="round" size="large">
        <ion-icon slot="start" name="person-sharp"></ion-icon> Profil
      </ion-button>
      <ion-button shape="round" size="large" routerLink="/kpi">
        <ion-icon slot="start" name="book"></ion-icon> KPI
      </ion-button>
      <ion-button shape="round" size="large" routerLink="/project">
        <ion-icon slot="start" name="documents"></ion-icon> Project
      </ion-button>
    </div>
    <div class="status">
      <ion-card color="danger" *ngIf="false">
        <ion-card-header>
          <ion-icon name="alert-circle-outline"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            2 data belum diunggah ke server. Data akan diunggah otomatis ketika jaringan internet stabil.
          </ion-text>
        </ion-card-content>
      </ion-card>
      <ion-card color="success" *ngIf="false">
        <ion-card-header>
          <ion-icon name="checkmark-circle-outline"></ion-icon>
        </ion-card-header>
        <ion-card-content>
          <ion-text>
            Semua data berhasil diuanggah ke server
          </ion-text>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>