.container {
  padding: 15px;
  text-align: center;

  .logo {
    margin: 15vh 2em 2em 2em;
    ion-img{
      width: 90px;
      margin: auto;
    }
  }

  ion-button {
    width: 70%;
    max-width: 250px;
    min-width: 145px;
    margin: 10px;
  }

  .status {
    position: absolute;
    bottom: 1em;
    left: 1em;
    right: 1em;
  }

  ion-card-header {
    font-size: 3em;
    padding-bottom: 0;
  }
}